<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" (click)="isCollapsed = !isCollapsed">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand pull-left" routerLink="/">
        <img src="../assets/img/Header-with-phone.jpg" alt="Mountain Area Electrical Services, LLC" class="image-reactive">
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar" [collapse]="isCollapsed">
      <!-- TODO remove user notification -->
      <!-- <div role="menuitem" *ngIf="(user | async)?.email"> {{ (user | async)?.email }} logged in.</div> -->
      <div class="btn-group nav navbar-nav navbar-right" dropdown>
        <button dropdownToggle class="btn navbar-btn btn-primary maes-secondary">
          Menu <span class="caret"></span>
        </button>
        <ul *dropdownMenu class="dropdown-menu" role="menu">
          <!-- always on -->
          <li role="menuitem"><a class="dropdown-item" routerLink="/">Home</a>
          <!-- sans auth -->
          <li class="divider dropdown-divider" *ngIf="!authService.isAuthenticated()"></li>
          <li role="menuitem" *ngIf="!authService.isAuthenticated()">
            <a class="dropdown-item" (click)="loginModal.show()">Login</a>
          </li>
          <li role="menuitem" *ngIf="!authService.isAuthenticated()">
            <a class="dropdown-item" (click)="registerModal.show()">Register</a>
          </li>
          <!-- avec auth -->
          <li role="menuitem" *ngIf="authService.isAuthenticated()">
            <a class="dropdown-item" (click)="onLogout()">Log out</a>
          </li>
          <li role="menuitem" *ngIf="authService.isAuthenticated()">
            <a class="dropdown-item" routerLink="logged-in">Logged In Home</a>
          </li>
        </ul>
      </div>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<!--Login modal-->
<div bsModal #loginModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLoginModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Login</h4>
        <button type="button" class="close pull-right" (click)="loginModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        modal body is here
        <div class="pull-right">
          <button type="button" class="btn btn-default" (click)="loginModal.hide()" aria-label="Close">
            Close
          </button>
          <button type="button" class="btn btn-primary" (click)="onLogin()" aria-label="Close">
            Log In
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Register modal-->
<div bsModal #registerModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myRegisterModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Register</h4>
        <button type="button" class="close pull-right" (click)="registerModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        modal body is here
        <div class="pull-right">
          <button type="button" class="btn btn-default" (click)="registerModal.hide()" aria-label="Close">
            Close
          </button>
          <button type="button" class="btn btn-primary" (click)="onRegister()" aria-label="Close">
            Register
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
